.mobile-menu-popout {
  display: none;
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 3;
  width: 100%;
}
.toolbar .mobile-menu-popout {
  top: 170px;
}
.toolbar-drawer .mobile-menu-popout {
  top: 162px;
}
.mobile-menu-popout .menu-block-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.mobile-menu-popout .menu-block-wrapper ul.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: #3B7FBB;
}
.mobile-menu-popout .menu-block-wrapper ul.menu.menu-show {
  display: block;
}
.mobile-menu-popout .menu-block-wrapper ul.menu li {
  background-color: #0b7ebb;
  color: white;
  background-color: #3B7FBB;
  list-style-image: none;
  list-style-type: none;
  font-size: 17px;
  line-height: 1.2em;
}
.mobile-menu-popout .menu-block-wrapper ul.menu li > a,
.mobile-menu-popout .menu-block-wrapper ul.menu li > span {
  color: #FFF;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  display: block;
  text-align: left;
}
.mobile-menu-popout .menu-block-wrapper ul.menu li.expanded a,
.mobile-menu-popout .menu-block-wrapper ul.menu li.expanded > span {
}
.mobile-menu-popout .menu-block-wrapper ul.menu li a.back {
}
.mobile-menu-popout .menu-block-wrapper ul.menu li .separator {
  display: none;
}

.mobile-menu-popout-link {
  display: none;
}
@media (max-width: 767px) {
  .mobile-menu-popout-link {
    display: block;
  }
}
